<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <title><%= title %></title>
</head>

<body>
    <div class="navigation-bar">
        <div class="nav-menu-button">
            
        </div>
        <h1> Rice Cooker </h1>
        <div class="nav-profile">

        </div>
    </div>
    